 /* .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  } */

  .nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* .underline_text {
      border-bottom: solid 2px #000000;
      display: inline;
      padding-bottom: 3px;
} */


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-bottom: solid 2px #000000 !important;
    display: inline;
    padding-bottom: 5px;
    border-color: #dee2e6 #dee2e6 #fff;
}
